<p>
  <%= @chatroom.titleize_name %>
</p>
<div data-behaviour="messages">
  <% @messages.each do |message| %>
    <div>
      <strong> <%= message.user.username %> : </strong>
      <%= message.body %>
    </div>
  <% end %>
</div>

<%= form_for @message, { remote: true } do |f| %>
  <%= f.hidden_field :chatroom_id, value: @chatroom.id %>
  <%= f.text_field :body, class: "form-control", autofocus: true %>
<% end %>
