<p>
  <%= @chatroom.titleize_name %>
</p>
<div data-behaviour="messages" data-chatroom-id="<%= @chatroom.id %>">
  <% @messages.each do |message| %>
    <%= render message %>
  <% end %>
</div>

<%= form_for @message do |f| %>
  <%= f.hidden_field :chatroom_id, value: @chatroom.id %>
  <%= f.text_field :body, class: "form-control", autofocus: true %>
<% end %>
