<!DOCTYPE html>
<html>
<head>
  <title>SlackChat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class='body-margin'>
    <div class="fluid-container">
      <div class="row">
        <div class="col-sm-2">
          <%= render 'chatrooms/user_chatrooms' if user_signed_in? %>
        </div>
        <div class="col-sm-8">
          <%= render "shared/messages" %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
